<HTML>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <b>Добавить новую транзакцию</b>
    <form method="post" action="/addTransaction">
        <input type="date" name="date" placeholder="Выберите дату">
        <input type="number" name="sum" placeholder="Введите сумму">
        <input type="text" name="description" placeholder="Введите описание">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Сохранить</button>
    </form>
</div>

<div>Список транзакций</div>
{{#transactions}}
    <div>
        <b>{{id}}</b>
        <strong>{{date}}</strong>
        <span>{{description}}</span>
        <i>{{sum}}</i>
    </div>

{{/transactions}}

<a href="main">Назад</a>

</body>
</HTML>